<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% include 'legal_app/common/common_css.html' %}
    <style>
    .w-100{
        height:60vh;
    }
    </style>
</head>
<body>
    <div class="main-div">

    <!-- header code include here -->
    {% include 'legal_app/common/header.html' %}

    <!-- carousel code starts -->
     <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'legal_app/images/a6add09b322cf78e304c6cc4b8b374d7.jpg' %}" class="d-block w-100" alt="...">
            </div>
            
            <div class="carousel-item">
                <img src="{% static 'legal_app/images/Fotos de Julgamento - Baixe fotos grátis de alta qualidade _ Freepik.jpeg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- carousel code ends -->
    </div>
    <!-- footer code include here -->
    {% include 'legal_app/common/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>  
</body>
</html>