<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headder</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&display=swap');
      .nav-link{
        color:#fdf2ea;
        font-size:20px;
        font-family:'Quintessential';
      }
      .dropdown-item{
        color:#16174d;
      }
    </style>
</head>

<body>

    <!-- nav bar code start here -->
    <nav class="navbar navbar-expand-lg" style="background-color:#242524;">
  <div class="container-fluid">
    <img src="{% static 'legal_app/images/image-removebg-preview.png' %}" style="width:50px; border-radius:50%;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_feedback/">User Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services/">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user_reg/">User</a></li>
            <li><a class="dropdown-item" href="#">Legal Advisor</a></li>
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Log in
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user_login/">User</a></li>
            <li><a class="dropdown-item" href="/advisor_login/">Legal Advisor</a></li>
  
          </ul>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<!-- nav bar code end here -->

</body>
</html>